body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
  }
  
  .container h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .container textarea {
    width: 300px;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container button:hover {
    background-color: #45a049;
  }
  
  #intro {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  #message-input {
    text-align: center;
    margin: 20px 0;
  }
  
  #message-text {
    width: 300px;
    height: 100px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  #send-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #send-button:hover {
    background-color: #45a049;
  }
  
  #message-board {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #message-board h2 {
    text-align: center;
    color: #333;
  }
  
  #message-list {
    list-style-type: none;
    padding: 0;
  }
  
  #message-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  #message-list li:hover {
    transform: translateY(-5px);
  }
  
  #message-list li.blur {
    filter: blur(5px);
    cursor: pointer;
  }
  
  #message-list li.audio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #message-list li.audio::before {
    content: "🔊";
    font-size: 24px;
    margin-right: 5px;
    transition: color 0.3s ease;
  }
  
  #message-list li.audio::before:hover {
    color: #45a049;
  }
  
  .message-datetime {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }
